<div class="container">
    <h3 class="text-center mt-5">Enaland Bet9ja Cashiers</h3>
    <div>
      <div >
        <a href="/" class="btn btn-info mb-2">Refresh</a>
      </div>
        <div class="table-responsive">
          <table class="table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>ID
                </th>
                <th>WhiteBet
                </th>
                <th>Tickets
                </th>
                <th>Sold
                </th>
              </tr>
            </thead>
            <tbody>
              <% cashiers.forEach( cashier => {%>
                <tr>
                  <td><%= cashier.cashierID %></td>
                  <td><%= cashier.wb %></td>
                  <td><%= cashier.tickets %></td>
                  <td><%= cashier.sold %></td>
                </tr>
              <%})%>
            </tbody>
          </table>
        </div>
    </div>
</div>